@charset "utf-8";
*{
	border:0;
	margin:0;
	padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display: block;
}

body{
	background:#0FF;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
}

a{
	color:#033;
	font-weight:bold;	
	text-decoration:none;
	
}

a:hover{
	color:#333;
}

figcaption{
	font-size:0.85em;
	padding:0.25em;
	text-align:center;	
}
img,video{
	max-width:100%
}
header,section#contenido{
	background:#FF5;
	margin:0 auto;
	max-width:80%;
	text-align:center;		
}

header h1,header aside{
	display:inline-block;
	background:#06C;
	max-width:100%;
	vertical-align:middle;
	padding:0.1em;
	width:30%;
	
}
header asiden{
	width:65%;
}


/*
@media(min-width:1024px){
	header section#logo{
		text-align:left;
		width:30%
	}
	header section#regemail{
		text-align:right;
		width:65%
	}
}*/